body {
	background: #2F3238;
	color: #7F8289;
	font-weight: 300;
	font-size: 16px;
	font-family: Sans-serif, Georgia;
	line-height: 28px;
	}

header {
	background-image: url(../img/header.jpg);
	padding: 5px;
    margin-top: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    }

main {
	background-image: url(../img/main.jpg);
	background-attachment: fixed;
	padding: 5px;
    margin-top: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    }

footer {
	background: #ad1500;
	padding: 5px;
    margin-top: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    line-height:0.2em;
    text-align: center;
    }

h1, h3{

	color:#FFFFFF;
	font-weight:300;
	font-family: sans-serif, Arial;
	text-transform: uppercase;
	text-align: center;
	}

h1{
	font-size:32px;
	font-align; center;
	line-height:1em;
	margin-top:0px;
	}

h3{
	margin:20px;
	font-size: 18px;
	line-height:1.5em;
    margin-bottom: 25px;
  }

.h3-footer{
	margin:5px;
	font-size: 16px;
	line-height:0.5em;
    margin-bottom: 3px;
  }

hr {
	border-style: dashed;
	border-color: #3C3F45;
	margin: 5px;
	}

li a:hover {
	color: #FFFFFF;
	}

a {
	color: #d3f2ba;
	}

p {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 99;
	}

ul, ol{
	list-style-position: inside;
	}

li {
	text-align: center;
	}

.logo {
    text-align: right;
    }

.li-inline {
 	display: inline-block;
	margin-left: 5px;
	}






